body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

header {
  margin-bottom: 3rem; }

main {
  flex: 1 0 auto; }

.story-text {
  height: 100px; }

.dash-status {
  text-transform: capitalize; }

#delete-form {
  display: inline; }

.nav-wrapper .fa-bars {
  font-size: 25px; }

footer {
  margin-top: 20px; }
