body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  // background-color: red;
}

header {
  margin-bottom: 3rem;
}

main {
  flex: 1 0 auto;
}

textarea {
  // height: 12rem;
}

.nav-wrapper {
  .fa-bars {
    font-size: 25px;
  }
}

footer {
  margin-top: 20px;
}
